<div class="col-sm-6 col-md-4 col-lg-3">
  <ul class="list-group">
    <li class="list-group-item">Email: <%= user.email %></li>
    <li class="list-group-item">Full name: <%= full_name(user) %></li>
    <li class="list-group-item">Age: <%= user.age %></li>
  </ul>
  <br/>
</div>
